<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Authorization Server sample</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
</head>
<body>
<div th:replace="~{page-templates :: navbar}"></div>
<div class="container">
    <div th:replace="~{page-templates :: error-message}"></div>
    <div th:if="${keys}" class="row py-5 justify-content-start">
        <div class="col">
            <table class="table table-striped caption-top">
                <caption>Keys</caption>
                <thead>
                <tr>
                    <th scope="col">Key ID</th>
                    <th scope="col">Key Type</th>
                    <th scope="col">Created</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="key : ${keys}">
                    <td th:text="${key.keyID}"></td>
                    <td th:text="${key.keyType}"></td>
                    <td th:text="${key.issueTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row py-2 justify-content-start">
        <div class="col">
            <form class="d-flex" th:action="@{/generate-key}" method="post">
                <button class="btn btn-outline-secondary" type="submit">Generate Key</button>
            </form>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="/webjars/popper.js/umd/popper.js" th:src="@{/webjars/popper.js/umd/popper.js}"></script>
</body>
</html>
